<!-- NOTE: I AM NOT USING THIS FILE BECAUSE INSTEAD OF CREATING A SEPARATE PAGE FOR A USER TO ENTER IN COMMENTS, I HAVE ALLOWED THE USER TO ENTER IN THE COMMENT ON THE PHOTO/SHOW PAGE -->

<!-- <h1>Create your comment</h1>

<%= form_for [@photo, @comment] do |f| %>
  <div> Comment: <%= f.text_area :body %>
  <%= f.submit "Submit Comment" %>
<% end %> -->