<h1>Search For Photos:</h1>

<%= form_tag search_photos_path do %>
  <div>Search for Photos:<%= search_field_tag :query %></div>
<% end %>

<h3>Search Results:</h3>

<% @results.each do |result| %>
  <div>Title: <%= result.title %></div>
  <div><%= image_tag result.upload_url %></div>
<% end %>